textarea {
  height: 300px;
}


fieldset {
  height: 300px;
}

.required:after { 
 content:"*";
 font-family: "Open Sans";

}




/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-90-width {
  width: 90%;
  box-sizing: border-box; }
  
/* Utility Classes */

/* Make element full width */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

/* Float either direction */
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }